.logo{
    width: 30px;
    height: 30px;
    transform: rotate(270deg);
    color: black ;
}
.Search{
    width: 30px;
    height: 30px;
    border: 0px ;
    background-color:rgb(235, 79, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.shadow{
    box-shadow: 0px 3px 0px rgba(10, 10, 10, 0.2);
}
.Toggle{
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.input-1,
.input-2,
.button{
    border-radius: 10px;
}
.input-1,
.input-2{
    border:1px solid grey;
}
.LoadingSpin{
    border: 1px solid black;
    border-bottom: white;
    border-radius: 20px;
    height: 13px;
    width: 13px;
    animation: spin 2s linear infinite ;
    
}
@keyframes spin{
    0% {
        transform: rotate(0deg); /* Start with no rotation */
      }
      100% {
        transform: rotate(360deg); /* Rotate 360 degrees */
      }  
}
.ud-1,.ud-2{
    border: 2px solid grey;
    margin:0px 13px ;
    width: 95%;
    border-radius: 5px;
    height: 45px;
    font-size: large;
}
.logbox{
    width: 98%;
}
.Plus-icon{
    width: 17px;
    height: 17px;
}
.Icon{
    width: 25px;
    height: 20px;
   
}
.photos{
    width: 31px ;
    height: 37px;
    justify-content: center;
}
.Upload{
    width: 30px ;
    height: 30px;
    margin-right: 2px;
}
.upload-btn{
    width: 230px;
    height: 150px;
    margin:5px 0px 20px 20px;
    border-radius: 15px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    width: 25px;
    height: 25px;
}
.perk{
    width: 230px;
    height: 40px;
    justify-content: center;
    border: 1px solid grey;
}
.custom-hover{
    background-color:  rgba(231,236,240,1);
}
.custom-hover:hover{
    background-color:rgb(220, 53, 69)!important;
    color: white;
    border: transparent;
}
.uploaded-photo{
    width: 230px;
    height: 150px;
    border-radius: 15px;
    margin: 8px;
}
.style{
    background-color:  rgba(231,236,240,1);
}
.desc{
    background-color:  rgba(231,236,240,1);
    height: 200px;
    margin: 20px 0px 8px 0px ;
    display: flex;
    width: 97%;
    border-radius: 7px;
    gap: 15px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.delete{
     position: relative;
     bottom: 5px;
     right: 5px;
     width: 20px;
     color: black;
}
.delete-btn{
    position: relative;
    bottom: 38px;
    left: 16px;
    color: white;
    width: 27px;
    height: 27px;
    border-radius: 15px;
    opacity: 0.5;
}
.star{
    position: relative;
     bottom: 5px;
     right: 5px;
     width: 20px;
     color: black;
}
.star-btn{
    position: relative;
    bottom: 38px;
    left: 15px;
    color: white;
    width: 27px;
    height: 27px;
    border-radius: 15px;
    opacity: 0.5;
}
.Place{
    width:249px;
    margin: 25px 7px 10px 7px;
}
.text{
    color: white;
    font-size:x-large;
    margin-left: 10px;
    text-align: left;
    font-style: italic;
    display: flex;
    justify-items: flex-end;
}
.scroll{
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar{
    width:10px;
}
.styles{
    border: 1px solid black;
    font-size: small;
    border-radius: 2px;
    margin-bottom: 2px;
    font-weight: bold;
}

.guest{
  border-left: 1px solid black;
  border-width: 2px;
  margin-left: 5px;
  padding-left: 5px;
}
.head{
    color: gray;
    width:'137px';
}
.head:hover{
    color: black;
    cursor: pointer;
}
.show{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.show-open{

}